@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --primary:#0077b6;
    --secondary:#48cae4;
    --black:#333;
    --white:#fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: .5rem;
}

section{
    padding: 5rem 7%;
}

.heading{
    font-size: 4rem;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--secondary);
}

/* header */

.header{
    position: fixed;
    top: 0; left: 0; right: 10;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--primary);
    padding-right: .5rem;
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: var(--primary);
}

.header .navbar .btn{
    margin-top: 0;
    color: var(--white);
}

.header .navbar .btn:hover{
    color: var(--white);
}

.header .logo img {
    height: auto; 
    width: auto; 
    max-height: 50px; 
    vertical-align: middle; 
  }


/* availability  + book */

.input[type="text"]::placeholder {
    text-transform: uppercase;
  }
  

.availability form{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: #eee;
    padding: 2rem;
    border-radius: .5rem;
}

.availability form .box{
    flex: 1 1 20rem;
}

.availability form .box p{
    font-size: 2rem;
    color: var(--primary);
}

.availability form .box .input{
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--black);
    margin: 1rem 0;
    border-radius: .5rem;
}

.availability {
    padding-top: 200px; 
    margin-top: -80px; 
}
/* end */

/* about */

.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
}

.about .row .image{
    flex: 1 1 30rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 51rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color: var(--primary);
    padding: 2rem 0;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
    line-height: 1.8;
}

.about {
    padding-top: 150px; 
    margin-top: -80px; 
}

/* end */

/* Container for each room */

/* Enhancing the Check Availability button */
#checkAvailability {
    background-color: var(--primary); /* Primary color for the button */
    color: var(--white); /* Text color */
    font-weight: 600; /* Makes the text slightly bolder */
    letter-spacing: 1px; /* Slightly spaces out the letters */
    border: none; /* Removes the default border */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
    transition: background-color 0.3s ease; /* Smooth transition for the background color */
    display: block; /* Ensures the button takes the full width */
    width: 100%; /* Full width */
    padding: 1.2rem; /* Ample padding for a larger click area */
    margin-top: 2rem; /* Ensures there's space between the form fields and the button */
    border-radius: 5px; /* Rounded corners */
}

#checkAvailability:hover {
    background-color: var(--secondary); /* Changes background on hover for visual feedback */
}

#resultsContainer {
    margin-top: 20px; /* Adds space above the results for clarity */
    width: 100%;
}

.room {
    font-size: 20px; /* Makes text larger */
    margin-bottom: 20px; /* Adds space between results */
    padding: 15px; /* Adds padding inside each result */
    border: 1px solid #ccc; /* Adds a border around each result */
    border-radius: 5px; /* Rounds the corners of the border */
}

.room-details {
    margin-bottom: 10px; /* Adds space between the room details and the book now button */
}

.btn, .book-now button {
    background-color: var(--primary); /* Primary color for button background */
    color: var(--white); /* White text */
    padding: 1rem 3rem; /* Uniform padding */
    font-size: 1.7rem; /* Consistent font size */
    border-radius: .5rem; /* Rounded corners */
    cursor: pointer; /* Cursor pointer to indicate clickable */
    border: none; /* No border */
}

.btn:hover, .book-now button:hover {
    background-color: var(--secondary); /* Secondary color on hover */
    color: var(--white); /* Ensuring text color remains white for visibility */
}



/* end */
/* Reservation */
@media (min-width: 768px) {
    .date-fields {
        display: flex;
        justify-content: space-between; /* This will place the date fields side by side */
        width: 100%; /* Ensure the container takes full width */
    }

    .date-fields .box {
        flex-basis: calc(50% - 10px); /* Assign half the width to each date field, minus the gap */
        margin-bottom: 1rem; /* Space between this row and the next */
    }
}
/* services */

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
    gap: 2rem;
}

.services .box-container .box{
    text-align: center;
}

.services .box-container .box img{
    height: 10rem;
    margin-bottom: .7rem;
}

.services .box-container .box h3{
    font-size: 1.7rem;
    color: var(--black);
    padding: .5rem 0;
}

/* end */

/* reservation */
.reservation {
    padding-top: 200px; 
    margin-top: -80px; 
}

.reservation form{
    padding: 2rem;
    border: .2rem solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}

.reservation form .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.reservation form .container .box{
    flex: 1 1 40rem;
}

.reservation form .container .box p{
    font-size: 1.8rem;
    color: var(--primary);
}

.reservation form .container .box .input{
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: .2rem solid rgba(0, 0, 0, 0.1);
    color: var(--black);
}

/* end */

/* footer */

.footer{
    background: var(--secondary);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    padding: 1rem 0;
    color: var(--primary);
}

.footer .box-container .box a{
    font-size: 1.6rem;
    display: block;
    color: var(--white);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--primary);
    padding-right: .5rem;
}

.footer .box-container .box a:hover{
    color: var(--primary);
}

.footer .share{
    padding-top: 2rem;
    text-align: center;
}

.footer .share a{
    color: var(--primary);
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    border: .1rem solid var(--primary);
    margin: .3rem;
}

.footer .share a:hover{
    color: var(--white);
    background: var(--primary);
    transform: rotate(360deg);
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    margin-top: 2.5rem;
    padding-top: 2rem;
    border-top: .1rem solid rgba(0, 0, 0, 0.3);
    color: var(--white);
}

.footer .credit span{
    color: var(--primary);
}

/* end */

/* Login */
.login {
    padding-top: 200px; 
}

.login-container {
    width: 100%;
    max-width: 400px; 

    margin: auto; 
    background: var(--white);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container form {
    width: 100%;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="submit"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: .5rem;
    font-size: 1.6rem;
}

.login-container input[type="submit"] {
    background: var(--primary);
    color: var(--white);
    cursor: pointer;
    border: none;
}

.login-container input[type="submit"]:hover {
    background: var(--secondary);
}
/* end */

/* media queries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem 3rem;
    }

}

@media (max-width: 768px){

    .header .navbar{
        position: absolute;
        top: 110%; right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background: var(--white);
        border-radius: .5rem;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

}

@media (max-width: 450px){

    html{
        font-size: 50%;
    }

    .home .slide .content{
        width: 30rem;
    }

    .home .slide .content h3{
        font-size: 3rem;
    }

}

/* Add this to your styles.css or within a <style> tag in the <head> of your HTML document */

.search-title {
    font-size: 14px;
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 00px; /* Adjust as necessary */
}

.search-container {
    margin-top: 0px;
    text-align: left;
    padding-left: 0px; /* Adjust as necessary */
}

.search-container form {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust as necessary */
}

.search-container input[type="text"], .search-container button {
    padding: 15px;
    font-size: 14px;
}

/* Make sure the button is not hidden by any styles */
button {
    cursor: pointer;
    /* Add other styling as needed */
}
